################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Loops/FibonacciSequence/.vs/FibonacciSequence/FileContentIndex
/Loops/WeatherConsoleApp/.vs/WeatherConsoleApp/FileContentIndex
