################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Loops/FibonacciSequence/.vs/FibonacciSequence/FileContentIndex
/Loops/WeatherConsoleApp/.vs/WeatherConsoleApp/FileContentIndex
/Loops/PrimeNumbersFinder/.vs/PrimeNumbersFinder/FileContentIndex
/Loops/MatrixMultiplication/.vs/MatrixMultiplication/FileContentIndex
/Loops/PascalsTriangle/.vs/PascalsTriangle/FileContentIndex
/Loops/SieveofEratosthenes/.vs/SieveofEratosthenes/FileContentIndex
/Loops/TicTacToe/.vs/TicTacToe/FileContentIndex
/Loops/QuizApp/.vs/QuizApp/FileContentIndex
/Loops/Permutations/.vs/Permutations/FileContentIndex
/Loops/KnightsTour/.vs/KnightsTour/FileContentIndex
/OOP/LibraryManagementSystem/.vs/LibraryManagementSystem/FileContentIndex
/EventsAndDelegates/SortingTask/.vs/SortingTask/FileContentIndex/ec6f1b6f-60a8-4c8a-aac1-2c8f6e8407d8.vsidx
/EventsAndDelegates/TemepratureSecurity/.vs/TemepratureSecurity/FileContentIndex
/LINQ/UniversityManager/.vs/UniversityManager/FileContentIndex
/LINQ/XMLinq/.vs/XMLinq/FileContentIndex
/LINQ/LinqTOSql/.vs/LinqTOSql/FileContentIndex
/LINQ/Fantasy_Character/.vs/Fantasy_Character/FileContentIndex
/EnumrableAndEnumerator/Advantages/.vs/Advantages/FileContentIndex
